{
  "services": {
    "user-provided": [
      {
        "name": "<NAME>",
        "label": "user-provided",
        "credentials": {
          "url": "<URL>",
          "password": "<PASSWORD>",
          "username": "<USERNAME>"
        }
      }
    ]
  }
}
